In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('50_Startups.csv')

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [7]:
X = dataset[['R&D Spend', 'Administration', 'Marketing Spend', 'State']]

In [8]:
y = dataset['Profit']

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
model = LinearRegression()

In [11]:
model.fit(X,y)

ValueError: could not convert string to float: 'New York'

### Here we need to use OneHot Encoding
### we will create dummy variables for this

In [12]:
state = X['State']

In [16]:
#to create dummy variables
state_dummy = pd.get_dummies(state)
# here we have use one hot encoding

In [17]:
type(X)            # pandas array == dataframe

pandas.core.frame.DataFrame

In [18]:
X.iloc[1]                                # to pick first row of dataframe

R&D Spend              162598
Administration         151378
Marketing Spend        443899
State              California
Name: 1, dtype: object

In [19]:
X.iloc[1:5,2]                            # pick 4 rows

1    443898.53
2    407934.54
3    383199.62
4    366168.42
Name: Marketing Spend, dtype: float64

In [21]:
# we need to pick only columns having numerical value (3 cols)
X = X.iloc[:, 0:3]

In [22]:
X.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend'], dtype='object')

In [23]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [24]:
select = SelectFromModel(Lasso())

In [25]:
select.fit(X, y)

SelectFromModel(estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                                max_iter=1000, normalize=False, positive=False,
                                precompute=False, random_state=None,
                                selection='cyclic', tol=0.0001,
                                warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [26]:
select.get_support()

array([ True,  True,  True])

In [29]:
# Remove one column from dummy variales
# to avoid dummy variale trap
final_state = state_dummy.iloc[: , 0:2]

In [30]:
X

    R&D Spend  Administration  Marketing Spend
0   165349.20       136897.80        471784.10
1   162597.70       151377.59        443898.53
2   153441.51       101145.55        407934.54
3   144372.41       118671.85        383199.62
4   142107.34        91391.77        366168.42
5   131876.90        99814.71        362861.36
6   134615.46       147198.87        127716.82
7   130298.13       145530.06        323876.68
8   120542.52       148718.95        311613.29
9   123334.88       108679.17        304981.62
10  101913.08       110594.11        229160.95
11  100671.96        91790.61        249744.55
12   93863.75       127320.38        249839.44
13   91992.39       135495.07        252664.93
14  119943.24       156547.42        256512.92
15  114523.61       122616.84        261776.23
16   78013.11       121597.55        264346.06
17   94657.16       145077.58        282574.31
18   91749.16       114175.79        294919.57
19   86419.70       153514.11             0.00
20   76253.86       113867.30        298664.47
21   78389.47       153773.43        299737.29
22   73994.56       122782.75        303319.26
23   67532.53       105751.03        304768.73
24   77044.01        99281.34        140574.81
25   64664.71       139553.16        137962.62
26   75328.87       144135.98        134050.07
27   72107.60       127864.55        353183.81
28   66051.52       182645.56        118148.20
29   65605.48       153032.06        107138.38
30   61994.48       115641.28         91131.24
31   61136.38       152701.92         88218.23
32   63408.86       129219.61         46085.25
33   55493.95       103057.49        214634.81
34   46426.07       157693.92        210797.67
35   46014.02        85047.44        205517.64
36   28663.76       127056.21        201126.82
37   44069.95        51283.14        197029.42
38   20229.59        65947.93        185265.10
39   38558.51        82982.09        174999.30
40   28754.33       118546.05        172795.67
41   27892.92        84710.77        164470.71
42   23640.93        96189.63        148001.11
43   15505.73       127382.30         35534.17
44   22177.74       154806.14         28334.72
45    1000.23       124153.04          1903.93
46    1315.46       115816.21        297114.46
47       0.00       135426.92             0.00
48     542.05        51743.15             0.00
49       0.00       116983.80         45173.06

In [31]:
# to add a new column i dataframe
# X['address'] = 'hi'

In [32]:
X[['California','Florida']] = final_state

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [35]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
y_pred = model.predict(X_test)

In [37]:
y_pred

array([126187.35875892,  85719.45625047,  99648.03493262,  45664.95505306,
       127106.84248991,  51752.87494285, 109033.36185727, 100575.61410616,
        97877.86356679, 111674.70697829, 128750.98741824, 174097.59784015,
        93630.00362471, 148426.41941988, 172333.62606971, 155858.60922337,
        77089.61252311])

In [38]:
y_test

13    134307.35
39     81005.76
30     99937.59
45     64926.08
17    125370.37
48     35673.41
26    105733.54
25    107404.34
32     97427.84
19    122776.86
12    141585.52
4     166187.94
37     89949.14
8     152211.77
3     182901.99
6     156122.51
41     77798.83
Name: Profit, dtype: float64

In [39]:
model.coef_

array([ 8.04312540e-01, -8.99140461e-02,  2.84812890e-02,  1.21407965e+03,
        1.61800413e+03])