### Filter Method : 
It internally changes the value of a field and checks if 'y' (target) changes or not

### Constant :
Here we give the threshold value like: if '0' is given, means we know that 100% data is same

### Quasi Constant :
If some part if the data field is different (small part) from the rest of the data of that field

                                   Feature Selection
                 ________________________________________________________
                |                          |                             |
             Filter                     Wrapper                       Emebedded
             Method                     Method                         Method
                |-> Correlation            |-> OLS                     |-> Coefficient
                |-> Constant               |->                         |-> Lasso (L-1 Regularization)
                |-> Quasi-Constant         |->

In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('marks.csv')

In [4]:
dataset

    name  coll_id  duration  marks  time_b4_exam  café
0   abhi        1         2     40            10   100
1   eric        1         4     50            20   200
2   jack        1         2      5             5   400
3   amit        1         2     50            10    10
4  krish        1         4     60            20   100

In [9]:
dataset.corr()

              coll_id  duration     marks  time_b4_exam      café
coll_id           NaN       NaN       NaN           NaN       NaN
duration          NaN  1.000000  0.599145      0.952579 -0.073488
marks             NaN  0.599145  1.000000      0.803685 -0.842077
time_b4_exam      NaN  0.952579  0.803685      1.000000 -0.357518
café              NaN -0.073488 -0.842077     -0.357518  1.000000

#### We can also use coefficients for feature selection

In [12]:
dataset.columns

Index(['name', 'coll_id', 'duration', 'marks', 'time_b4_exam', 'café'], dtype='object')

In [13]:
X = dataset[['duration', 'time_b4_exam', 'café']]
y = dataset['marks']

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [17]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
model.coef_

array([ 6.20165746,  0.75690608, -0.10497238])

In [19]:
# if the coeff. is near to zero (either +ve or -ve) , the less that feature is useful
# coefficient tells us much more